config  MV_GTW_CONFIG
	string "Network interface configuration"
	depends on MV_GATEWAY
	default "(00:11:66:11:66:11,0)(00:22:77:22:77:22,1:2:3:4),mtu=1500"
	---help---
	 Set the network interface configuration. For each interface, define the interface 
	 name, MAC address and participating ports, at the end (optionally) set the 
         interfaces MTU. For example, the default configuration defines two interfaces, 
         eth0 and eth1, and sets the MTU to 1500.

config MV_GTW_HEADER_MODE
	bool "Use Marvell Header Mode"
	depends on MV_GATEWAY && (MV88F6281 || MV88F6183)
        default y
	---help---
	  Use Marvell Header Mode to improve routing performance.

config MV_GTW_FLOW_CONTROL
	bool "Use flow-control Mode"
	depends on MV_GATEWAY && !MV_GTW_HEADER_MODE
	default n
	---help---
	  Use flow control between switch and MAC. If unsure say No.

config  MV_GTW_IGMP
        bool "L2 IGMP Snooping support"
        depends on MV_GATEWAY
        default y
        ---help---
          Support L2 IGMP snooping at the switch level, i.e. directing L3 routed multicast
          stream to the specific L2 port which originally received an IGMP Join message,
          instead of fluding all VLAN ports.

config  MV_GTW_LINK_STATUS
	bool "Link status change indications"
	depends on MV_GATEWAY
	default y
	---help---
	  Support Phy link status change indications.

config MV_GTW_QOS
        bool "ToS based QoS support"
        depends on MV_GATEWAY && (MV_ETH_RX_Q_NUM != 1)
        default y
        ---help---
          Priorities packets marked with predefined ToS in IP header comming from WAN interface. 

config MV_GTW_QOS_NET_IF
        string "Name of network interface which require QoS"
        depends on MV_GTW_QOS
        default "eth0" 

config MV_GTW_QOS_VOIP
        bool "VoIP QoS"
        depends on MV_GTW_QOS
        default y

config MV_GTW_QOS_VOIP_TOS
        string "VoIP ToS value"
        depends on MV_GTW_QOS_VOIP
        default "0xA0"

config MV_GTW_QOS_ROUTING
        bool "Routing QoS"
        depends on MV_GTW_QOS
        default y

config MV_GTW_QOS_ROUTING_TOS
        string "Routing ToS value"
        depends on MV_GTW_QOS_ROUTING
        default "0x11;0x22"

