#
# Display drivers configuration
#

menu "Display device support"

config ADI9889
	tristate "ADI9889 support"
	default y
	help
	  ADI9889 device driver support.
config THS8200
	tristate "THS8200 support"
	default y
	help
	  THS8200 device driver support.
endmenu
